#mywebsite{
    padding-top: 0%;
    padding-bottom: 0%;
    padding-left: 0%;
    padding-right: 0%;
}
#landing {
  padding-top: 10%;
  padding-bottom: 10%;
  display: center;
  position: relative;
  padding-inline-start: 40%;
  padding-inline-end: 40%;
}
#blog h2  {
  padding-top: 5%;
  padding-bottom: 10%;
  display: center;
  position: relative;
  padding-inline-start: 43%;
  padding-inline-end: 40%;
}
#blog {
  display: flex;
  flex-wrap: wrap;

}
#services{
  padding: 1%;
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: rgb(226, 226, 226);
}
#services h2{
  display: center;
  position: relative;
  padding-inline-start: 45%;
  padding-inline-end: 40%;
}