.mywebsite{
    padding-top: 0%;
    padding-bottom: 0%;
    padding-left: 0%;
    padding-right: 0%;
}
.landing {
  display: center;
  position: relative;
  padding-inline-start: 35%;
  padding-inline-end: 5%;
}
.blog{

}